<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 id="h2"> Organizador de eventos </h2>
  <input #nameInput type = "text" placeholder="Nombre del evento" class="input"/>
  <br>
  <br>
  <input #startdateInput type = "date" placeholder="Fecha de inicio" class="input"/>
  <input #enddateInput type = "date" placeholder="Fecha de terminado" class="input"/>
  <br>
  <br>
  <input #ubication type = "text" placeholder="Ubicacion del evento" class="input"/>
  <br>
  <br>
  <input #ManagerName type = "text" placeholder="Nombre del encargado" class="input"/>
  <br> 
  <br>
  <input #ManagerPhone type = "number" placeholder="Telefono del encargado" class="input"/>
  <br>
  <br>

  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click) = "addItem(nameInput.value, startdateInput.value, enddateInput.value, ubication.value, ManagerName.value, ManagerPhone.value); 
  nameInput.value = ''; startdateInput.value = ''; enddateInput.value = ''; ubication.value =''; ManagerName.value; ManagerPhone.value ">
    Agregar
  </button>

  <table border = "1" style = "margin-top: 20px; width: 100%; text-align: center;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th>Ubicacion del evento</th>
        <th>Nombre del encargado</th>
        <th>Telefono del encargado</th>
        <th>Confirmacion del evento</th>
        <!-- <th>Acciones</th> -->
      </tr>
    </thead>

    <tbody>
      <tr *ngFor = "let item of items">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.date1 }}</td>
        <td>{{ item.date2 }}</td>
        <td>{{ item.ubication }}</td>
        <td>{{ item.ManagerName }}</td>
        <td>{{ item.ManagerPhone }}</td>

        <td>
          <input type = "checkbox" [checked]= "item.completed"/>
        </td>

        <!-- <td>
          <button (click) = "removeItem(item.id)">Eliminar</button> 
        </td> -->
      </tr>
    </tbody>
  </table>
</ion-content>
